### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Tomcat ###
logs/
work/
temp/
*.war
*.log
*.tmp
*.bak
**/tomcat/work/
/tomcat/temp/
/tomcat/logs/
/tomcat/webapps/ROOT
!webapps/*.war

### Generated WAR and EAR files ###
*.war
*.ear

### JetBrains IDE-specific Tomcat directories ###
out/
/.smarttomcat/WebAppCompanyManager/conf/catalina.policy
